body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select{
    max-width: 280px;
}

.header {
    background-image: url("./images/StartPageHeader.jpg");
    background-size: cover;
    width: 100%;
    height: 400px;
    padding-top: 70px;
}
.header h1 {
    text-align: center;
    font-size: 70px;
}

.avatar {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left:0;
    bottom:0;
    right:0;
}
.avatar-container {
   position: relative;
   width: 100%;
   padding-top: 100%;
}

.message-header {
    font-weight: bolder;
    color: darkslateblue;
}

#message-container {
    max-height: 600px;
    width: 800px;
    height: 100%;
    overflow-y: scroll;
}