@model SocialNetwork.Mvc.Models.DialogueViewModel

<div class="row">
    <div class="col-xs-5">
        <div class="avatar-container">
        <img src="@Url.Action("RenderAvatar", "User", new { id = Model.WithPersonId })" alt="avatar" class="img-circle img-responsive avatar" />
        </div>
    </div>
    <div class="col-xs-7">
        @Ajax.ActionLink(Model.WithPersonName, "Dialogue", new { withId = Model.WithPersonId }, new AjaxOptions { UpdateTargetId = "dialogue-container", OnSuccess = "ScrollToBottom" })
    </div>
    <script type="text/javascript">
        function ScrollToBottom() {
            document.getElementById('message-container').scrollTop = document.getElementById('message-container').scrollHeight;
        }
    </script>
</div>