@model SocialNetwork.Mvc.Models.DialogueViewModel

@foreach (var message in Model.Messages)
{
    @Html.Partial("MessagePartial", message)
}
<div id="new-message-container">

</div>
<div class="row">
    @using (Ajax.BeginForm("SendMessage", new AjaxOptions { UpdateTargetId = "new-message-container", InsertionMode = InsertionMode.InsertAfter, OnSuccess = "OnSuccess" }))
    {
        <div class="col-xs-11">
            @Html.TextArea("message")
            @Html.Hidden("toId", Model.WithPersonId)
        </div>
        <div class="col-xs-1">
            <input type="submit" class="btn btn-default" value="send"/>
        </div>
    }
</div>