@model IEnumerable<SocialNetwork.Mvc.Models.DialogueViewModel>

@{
    ViewBag.Title = "Messages";
}

<div class="container">
    <div class="col-sm-3">
        @foreach (var dialogue in Model)
        {
            @Html.Partial("DialoguePreview", dialogue)
            <hr />
        }
    </div>
    <div class="col-sm-8" id="dialogue-container">
    </div>
</div>

