@model IEnumerable<SocialNetwork.Mvc.Models.MessageViewModel>

@{
    ViewBag.Title = "Messages";
}

<div class="container">
    <div class="col-sm-3">
        @foreach (var message in Model)
        {
            @Ajax.ActionLink(message.SenderName, "Dialogue",new { withId = message.SenderId}, new AjaxOptions { UpdateTargetId = "dialogue-container"})
            <hr />
        }
    </div>
    <div class="col-sm-9" id="dialogue-container">
    </div>
</div>

