@model SocialNetwork.Mvc.Models.MessageViewModel

<div class="row">
    <div class="col-sm-1">
        <div class="avatar-container">
            <img src="@Url.Action("RenderAvatar", "User", new { id = Model.SenderId })" alt="avatar" class="avatar img-circle"/>
        </div>
    </div>
    <div class="col-sm-11">
        <div class="row message-header">
            @Model.SenderName 
            <span id="time" style="float: right; margin-right: 10px;">
                @Model.Time.ToString()
            </span>
        </div>
        <div class="row">
            @Model.Message
        </div>
    </div>
</div>