@model SocialNetwork.Mvc.Models.PagedList<SocialNetwork.Mvc.Models.PersonViewModel>
@{
    ViewBag.Title = "Search";
}


<div class="container" id="search-results">
    @if (Model != null && Model.Count() > 0)
    {
        @Html.Partial("SearchResults", Model)
    }
</div>
